<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin/login.css">
</head>
<body>
    <div id="login">
            <form class="login__form" action="">
                <h2 class="login__form-header">Đăng kí</h2>
                <div class="login__form-group">
                    <label for="">Tài khoản:</label><br>
                    <input type="text" placeholder="Tài khoản">
                </div>
                <div class="login__form-group">
                    <label for="">Mật khẩu:</label><br>
                    <input type="password" placeholder="Mật khẩu">
                </div>
                <div class="login__form-group">
                    <label for="">Xác nhận mật khẩu: </label><br>
                    <input type="password" placeholder="Xác nhận mật khẩu">
                </div>
                <div class="login__form-group">
                    <label for="">Email: </label><br>
                    <input type="password" placeholder="email">
                </div>
                <div class="login__form-group">
                    <label for="">Số điện thoại:</label><br>
                    <input type="" placeholder="Số điện thoại">
                </div>
                <div class="login__form-group">
                    <label for="">Token:</label><br>
                    <input type="" placeholder="Token">
                </div>
                <div class="login__form-group">
                    <button class="login__form-group-btn" >Đăng Kí</button>
                </div>
            </form>
    </div>
        
</body>
</html>