<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main">
<th:block layout:fragment="content">
   <div class="main__container">
    <div id="order">
        <h2 style="margin-bottom: 24px;">Đơn hàng của tôi</h2>
        <div class="order__header">
            <h4 class="order__header-item order__header-active">Tất cả</h4>
            <h4 class="order__header-item">Chờ xác nhận</h4>
            <h4 class="order__header-item">Đang xử lí</h4>
            <h4 class="order__header-item">Đang giao</h4>
            <h4 class="order__header-item">Đã giao</h4>
            <h4 class="order__header-item">Đã hủy</h4>

            <div class="order__header-active-line"></div>
        </div>
        <!-- Order container -->
            <div class="order__container"  th:each="item, forStat : ${order}" 
     			th:style="'display: ' + (${forStat.index == 0} ? 'block' : 'none') + ';'">
                <div class="order__item"  th:each="item2 : ${item}" th:object="${item2}">
                    <p class="order__item-status">
                        <i class="fa-solid fa-truck-fast"></i> <span th:text="*{@textUtils.getDeliveryStatus(status)}"></span>
                    </p>
                    <div class="order__product-container" th:object="${item2.cartResponse}">
                        <div class="order__product-img">
                        <a th:href="@{'productdetail/' + *{productId}}">
                            <img th:src="@{'/uploads/'+*{img}}" alt="" height="150" style="margin-right: 24px;">
                        </a>
                            <div style="align-self: flex-start;">
                                <h3 class="order__product-title" th:text="*{name}"></h3>
                                <span>
                                    Phân loại hàng : <span th:text="@{*{color}+', '+*{size}}" ></span>
                                </span>
                                <br>
                                 x<span th:text="*{quantity}"></span>
                                <br>
                                <small style="color: #5ADAC8; border: 1px solid #5ADAC8; padding: 2px;">Trả hàng miễn phí 15 ngày</small>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <del style="margin-right: 12px;" >300.000đ</del>
                            <span style="color: red; font-size: 1.3rem; font-weight: 500;" th:text="*{@textUtils.formatCurrency(price)}"></span>
                        </div>
                    </div>
                    <div class="order__total" >
                        <p style="line-height: 1.6rem;">
                            <strong>Đặt hàng lúc:</strong> <span th:text="${#dates.format(item2.createdAt, 'hh:mm:ss a dd/MM/yyyy')}"> </span> GTM +7
                            <th:block th:if="${item2.status == 'DELIVERED'}">
                                <br><Strong>Nhận hàng lúc:</Strong> <span th:text="${#dates.format(item2.deliveredAt, 'hh:mm:ss a dd/MM/yyyy')}"> </span> GMT +7
                             </th:block>
                             <th:block th:if="${item2.status == 'CANCELLED'}">
                                <br><Strong>Hủy đơn lúc:</Strong> <span th:text="${#dates.format(item2.deliveredAt, 'hh:mm:ss a dd/MM/yyyy')}"> </span> GMT +7
                            </th:block>	
                            <br>
                            <span th:object="${item2.addressResponse}">
                                <strong>Người nhận: </strong>
                                 <span th:text="*{receiver}">Receiver Name</span>
							    (
							    <span th:text="*{phone}">Receiver Phone</span>
							    )
							    <span th:text="*{detail}">Address Detail</span>,
							    <span th:text="*{commune}">Commune</span>, 
							    <span th:text="*{district}">District</span>, 
							    <span th:text="*{province}">Province</span>
                             </span> 
                              <br>
                             <strong>Mã đơn hàng: </strong><span class="codeOrder link_hover" th:text="*{code}"></span>
                             <button class="copiCodeOrder link_hover" style="color:var(--primary);font-size:1.1rem; position:relative;" >Sao chép</button>
                        </p>
                        <span style="margin-right: 12px;"  >
                            <strong>Thành tiền:</strong>
                            <strong style="font-size: 1.6rem; color: red;" th:text="*{@textUtils.formatCurrency(cartResponse.total)}"> </strong>
                        </span>
                    </div>
                    <div class="order__btn-container">
                            <button th:if="${item2.status == 'PENDING' || item2.status == 'PROCESSING' }" class="order__btn order__btn-cancel btn_hover " th:attr="onclick=${'openModal(0,'''+'CANCELLED'+''','+item2.id +')'}">Hủy đơn hàng</button>
                                <button th:if="${item2.status == 'PENDING'}" class="order__btn order__btn-approve btn_hover " th:attr="onclick=${'openModal(1,'''+item2.addressResponse.id+''','+item2.id +')'}">Thay đổi địa chỉ</button>
                            <button th:if="${item2.status == 'PENDING' || item2.status == 'PROCESSING' }" class="order__btn order__btn-approve btn_disable">Đã nhận được hàng</button>
                            <button th:if="${item2.status == 'ONDELIVERY'}" class="order__btn order__btn-cancel  btn_disable ">Hủy đơn hàng</button>
                            <button th:if="${item2.status == 'ONDELIVERY' }" class="order__btn order__btn-approve btn_hover"  th:attr="onclick=${'updateOrderAction('''+'/my-order/update/'+item2.id +'/DELIVERED'+''')'}">Đã nhận được hàng</button>
                                <button th:if="${item2.status == 'DELIVERED' }"class="order__btn order__btn-cancel btn_hover "  th:attr="onclick=${'openModal(0,'''+'CANCELLED'+''','+item2.id +')'}">Trả hàng/Hoàn tiền</button>
                            <a th:href="@{'productdetail/' + ${item2.cartResponse.productId}}" th:if="${item2.status == 'DELIVERED' || item2.status == 'CANCELLED' }" style="text-align:center;" class="order__btn order__btn-buyagain btn_hover">Mua lại</a>
                        
                    </div>
                </div>
            </div>
    </div>
</div>    
<form id="order_action" method="POST">
</form>
<div class="modal">
    <form method="POST" class="order__cancel-form">
        <h3 class="order__cancel-form-header">Cho chúng tôi biết lí do bạn hủy đơn</h3>
        <div class="order__cancel-form-container">
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Đặt nhầm đơn hàng</label>
            </div>
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Tìm thấy giá tốt hơn ở nơi khác</label>
            </div>
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Thay đổi ý định</label>
            </div>
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Thời gian giao hàng quá lâu</label>
            </div>
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Đặt sai sản phẩm</label>
            </div>
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Vấn đề thanh toán</label>
            </div>
            <div class="order__cancel-form-group">
                <input type="checkbox" name="cancel[]" style="transform: scale(1.23);">
                <label class="order__cancel-form-label" for="">Vấn đề với dịch vụ khách hàng</label>
            </div>
            <div class="order__cancel-form-group">
                <label style="font-weight: 500; line-height: 2rem;" class="order__cancel-form-label" for="">Lý do khác:</label>
                <textarea  placeholder="Vui lòng góp ý" class="order__cancel-form-textarea" name="opinion" ></textarea>
            </div>
        </div>
        <div class="order__cancel-form-btn-container">
            <button class="order__cancel-form-btn btn_hover">
                Xác nhận
            </button>
            <button type="button" onclick="closeModal()" class="order__cancel-form-btn order__cancel-form-btn-cancel btn_hover">
                Hủy
            </button>
        </div>
        
    </form>

</div>

<div class="modal">
    <form class="payment__modal-form-change-addr" method="POST">
        <h3 class="payment__modal-form-header">Địa Chỉ Của Tôi</h3>
        <div style="max-height: 380px; overflow-y: scroll; border-bottom: 1px solid #cccccc;">
                <div class="payment__modal-form-group" th:each ="item : ${address}" th:object="${item}" >
                    <input class="payment__modal-form-radio " type="radio" name="address" th:value="*{id}">
                    <div  >
                        <label for="address1">
                            <strong th:text="*{receiver}"></strong> <span th:text="*{phone}"></span> 
                            <span th:if="*{isdefault}" style="color: red; border: 1px solid red; padding: 1px;">Mặc định</span><br>
                            <span th:text="*{detail}"></span> <br>
                            <span th:text="*{commune}"></span> , <span th:text="*{district}"></span>, <span th:text="*{province}"></span> <br>
                            
                        </label>
                        
                    </div>
                </div>
        </div>
        
    
        <div class="payment__modal-form-group" style="float: right;margin-top: 100px;">
            <button class="payment__modal-form-btn payment__form-modal-cancel btn_hover" type="button" onclick="closeModal()">Hủy</button>
            <button class="payment__modal-form-btn btn_hover" type="submit" >Xác nhận</button>
        </div>
    </form>
    </div>
</body>

<script>
window.addEventListener('load',(e)=>{
    _$=document.querySelector.bind(document)
    _$$=document.querySelectorAll.bind(document)
    var order__container=_$$('.order__container')
    var order_header_item=_$$('.order__header-item')
    var trc=0
    let order_header_active_line=_$('.order__header-active-line')
    order_header_active_line.style.left=order_header_item[0].offsetLeft+'px'
    order_header_active_line.style.width=order_header_item[0].offsetWidth+'px'

    for(let item of order_header_item){
        item.onclick=function(){
            let idx=Array.prototype.indexOf.call(order_header_item,this)
            order__container[trc].style.display='none'
            order__container[idx].style.display='block'
            trc=idx
            console.log(idx)
            let order_header_active_line=_$('.order__header-active-line')
            order_header_active_line.style.left=this.offsetLeft+'px'
            order_header_active_line.style.width=this.offsetWidth+'px'
            let order__header_active=_$('.order__header-active')
            order__header_active.classList.remove('order__header-active')
            this.classList.add('order__header-active')
        }
    }
})


</script>

<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
	$(".copiCodeOrder").click( function (e) {
	    var text = e.target.previousElementSibling.textContent;
	    var tempTextArea = document.createElement('textarea');
	    tempTextArea.value = text; 
	    document.body.appendChild(tempTextArea);
	    tempTextArea.select();
	    document.execCommand('copy');
	    document.body.removeChild(tempTextArea);
	    var html='<p id="copy">Copied!</p>'
	    e.target.innerHTML+=html
	    e.target.lastChild.classList.add("copy__open")
	    setTimeout(function(){
	        e.target.lastChild.classList.remove("copy__open")
	        setTimeout(function(){
	            e.target.lastChild.remove()
	        },500)
	        
	    },1500)
	})
    function openModal(idx,param,order_id){
        console.log('cc')
        $('.modal').eq(idx).css('display','flex')
        if(idx===1){
            $(`input[value="${param}"]`).prop('checked','true')
            $('.payment__modal-form-change-addr').attr('action',`/my-order/changeAddress/${order_id}`)
        }else{
            $('.order__cancel-form').attr('action',`/my-order/update/${order_id}/${param}`)
        }
    }

    function closeModal(){
        $('.modal').css('display','none')
        $.each($('.modal').find('input[type="checkbox"]'),function(){
            this.checked=false            
        })
        $('.modal').find('textarea').val('')
    }

    function updateOrderAction(url){
 
        $('#order_action').attr('action',url)
        document.querySelector('#order_action').submit()
    }
</script>
</th:block>
</html>